*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
    color: var(--color-black);
    background-color: var(--color-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column !important;
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "item1 item3 item3 item4"
    "item1 item7 item6 item4"
    "item2 item7 item6 item4"
    "item2 item8 item5 item5";
}

.item1 { grid-area: item1;
color: #000;
background-color: beige; }

.item2 { grid-area: item2; }

.item3 { grid-area: item3; }

.item4 { grid-area: item4; }

.item5 { grid-area: item5; }

.item6 { grid-area: item6; }

.item7 { grid-area: item7; }

.item8 { grid-area: item8; }
